<div class="main-section" *ngIf="isLoading">
  <app-header-component></app-header-component>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<app-loader *ngIf="!isLoading"></app-loader>
