<h3>All Campaign</h3>
<div class="list overflow-auto">

  <div class="card mb-2" *ngFor="let i of data">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <p style="margin: 0">{{i.name}}</p>
          <h5>{{i.brand}}</h5>
        </div>
        <div class="col-md-3 align-v-r">
          {{i.product}}
        </div>
        <div class="col-md-6 align-v-r">
          {{i.updatedAt | date: 'yyyy/MM/dd h:mm:ss a'}}
        </div>
      </div>
    </div>
  </div>
</div>
