<div id="campaign1" class="container tab-pane active row">
  <div class="col-sm-6 mx-auto compaign-1 card shadow ">
    <div class="camp1-story-tab ">
      <app-platform></app-platform>
    </div>
    <div class="tab-content">
      <div class="tab-pane active container" *ngIf="isloaded">
        <h2>Campaign Details</h2>
        <div class="col-12 mx-auto campiagn-1-form">
          <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
            <div class="input-group row">
              <label class="col-4">Brand : </label>
              <input type="text"
              [ngClass]="{ 'is-invalid': f.brand.dirty && f.brand.errors }"
              class="form-control col-8" formControlName="brand" name="brand" placeholder="Nestle">
              <div *ngIf="submittedOnce && f.brand.errors" class="error">
                <div *ngIf="f.brand.errors.required">Please enter brand name</div>
              </div>
            </div>
            <div class="input-group row">
              <label class="col-4">Category : </label>
              <select class="form-control" formControlName="categoryId" [value]='1' name="categoryId" >
                <option *ngFor="let i of categoryList" value="{{i.id}}">{{i.name}}</option>
              </select>
              <div *ngIf="submittedOnce && f.categoryId.errors" class="error">
                <div *ngIf="f.categoryId.errors.required">Please select food category</div>
              </div>
            </div>
            <div class="input-group row">
              <label class="col-4">Product : </label>
              <input type="text"
              [ngClass]="{ 'is-invalid': f.product.dirty && f.product.errors }"
              class="form-control col-8" formControlName="product" name="product" placeholder="CareGrow">
              <div *ngIf="submittedOnce && f.product.errors" class="error">
                <div *ngIf="f.product.errors.required">Please enter product name</div>
              </div>
            </div>
            <div class="input-group row">
              <label class="col-4">Campaign : </label>
              <input type="text" class="form-control col-8"
              [ngClass]="{ 'is-invalid': f.name.dirty && f.name.errors }"
              formControlName="name" name="name"
              placeholder="Campaign #1">
              <div *ngIf="submittedOnce && f.name.errors" class="error">
                <div *ngIf="f.name.errors.required">Please enter campaign name</div>
              </div>
            </div>
            <div class="input-group row">
              <label class="col-4">Description : </label>
              <textarea rows="5" class="form-control col-8"
              [ngClass]="{ 'is-invalid': f.description.dirty && f.description.errors }"
              formControlName="description"
              name="description"
              placeholder="Description Here...."></textarea>
              <div *ngIf="submittedOnce && f.description.errors" class="error">
                <div *ngIf="f.description.errors.required">Please select food category</div>
              </div>
            </div>
            <input type="hidden" value="1" formControlName="userId"/>
            <div class="col-12 text-center py-4">
              <button class="btn bg-light" type="reset">Clear All</button>
              <button class="btn bg-light" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-user-campaign></app-user-campaign>
  </div>
</div>

