


    <!-- main section -->
    <section class="bottom-section">
      <div class="container-fluid">
        <div class="row">
          <!-- left section -->
          <div class="col-sm-4 bg-light device-mockup">
            <div class="mockup-fit text-center">
              <h5>Preview</h5>
              <div class="img-mockup">
                <img src="../../../assets/images/mockup-image.png">
                <div class="mockup-main-div">
                  <div class="mockup-content">
                    <div class="deviceHtml"  *ngIf="isSelected"  [ngStyle]="{'background-image': 'url('+ theme[0].filename_image_url +')'}">
                      <div class="templateName">{{selected.name}}</div>

                    </div>
                    <div class="nodata" *ngIf="!isSelected">
                        <small>Please choose template</small>
                    </div>
                  </div>
                </div>
                <img src="../../../assets/images/notches.png" class="img-fluid notches">
              </div>
              <button class="btn btn-white" *ngIf="isSelected" (click)="saveTemplate()">Select</button>
            </div>
          </div>
          <!-- end of left section -->

          <!-- right section -->
          <div class="col-sm-8 bg-light story-content-section">
            <div class="col-6" *ngIf="isSelected">
              <div class="row">
                <div class="col-sm-12 story-section bg-white">
                  <div class="story-sleft">
                    <h3>{{selected.name}}</h3>
                    <a href="javascript:;" data-toggle="modal">Read Description</a>
                  </div>
                  <div class="story-sright text-center">
                    <ul>
                      <li><img src={{selected.platform_img}}></li>
                    </ul>
                    <img src={{selected.image_url}}/>
                    <p>&nbsp;</p>
                  </div>
                </div>
                <!-- <div class="col-sm-6">
                  <div class="col-12 bg-dark serach-wrapper">
                    <div class="search-box bg-dark">
                      <div class="input-group">
                        <div class="input-group-btn search-panel">
                          <button class="btn btn-white square-button"><i
                              class="flaticon-window-of-four-rounded-squares"></i></button>
                        </div>
                        <input type="text" class="form-control" name="x" placeholder="Search term...">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">Dropdown-1</a></li>
                          <li class="dropdown-item"><a href="#">Dropdown-1</a></li>
                          <li class="dropdown-item"><a href="#">Dropdown-1</a></li>
                          <li class="dropdown-item"><a href="#">Dropdown-1</a></li>
                        </ul>
                        <button class="btn btn-white search-button" type="submit"><i
                            class="flaticon-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-8 choose-wrapper"  *ngIf="isFetched">
                  <ngb-tabset>
                    <ngb-tab title="Choose a Template">
                      <ng-template ngbTabContent>
                            <div id="choose" class="container tab-pane active">
                              <div class="row">
                                <div class="col-sm-4 mt-3 ml-3 pl-0 pr-0 card shadow trending-images" *ngFor="let item of template">
                                  <div class="card-body">
                                    <a href="javascript:;" (click)="getTemplate(item.id)">
                                      <span><img src={{item.image_url}} class="img-fluid"></span>
                                      {{item.name}}
                                    </a>
                                  </div>
                                </div>

                                </div>
                              </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle><i class="flaticon-like"></i> Favourites</ng-template>
                      <ng-template ngbTabContent>
                        <div id="favourite" class="container tab-pane"><br>
                          <div class="row">
                              <div class="center">No Favourite</div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                 </ngb-tabset>



                </div>
                <app-skeleton-loading  *ngIf="!isFetched"></app-skeleton-loading>
              </div>
            </div>
          </div>
          <!-- end of right section -->
        </div>
      </div>
    </section>

    <!-- end of main section -->










