    /*
    Flaticon icon font: Flaticon
    Creation date: 30/04/2019 18:26
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-mail:before { content: "\f100"; }
.flaticon-telephone-handle-silhouette:before { content: "\f101"; }
.flaticon-twitter:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-linkedin-logo:before { content: "\f104"; }
.flaticon-skype-logo:before { content: "\f105"; }
.flaticon-youtube:before { content: "\f106"; }
.flaticon-envelope:before { content: "\f107"; }
.flaticon-delete:before { content: "\f108"; }
.flaticon-window-of-four-rounded-squares:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-black-check-box:before { content: "\f10b"; }
.flaticon-angle-arrow-down:before { content: "\f10c"; }
.flaticon-like:before { content: "\f10d"; }
.flaticon-export:before { content: "\f10e"; }
.flaticon-login:before { content: "\f10f"; }
.flaticon-logout:before { content: "\f110"; }
.flaticon-filter:before { content: "\f111"; }
.flaticon-switch:before { content: "\f112"; }
.flaticon-picture:before { content: "\f113"; }
.flaticon-smartphone:before { content: "\f114"; }
.flaticon-waiting:before { content: "\f115"; }
.flaticon-play-button:before { content: "\f116"; }
.flaticon-four-squares:before { content: "\f117"; }
.flaticon-page-design-template-with-three-areas:before { content: "\f118"; }
.flaticon-layout:before { content: "\f119"; }
.flaticon-web-design:before { content: "\f11a"; }
.flaticon-cropping-tool:before { content: "\f11b"; }
.flaticon-linked-website:before { content: "\f11c"; }
.flaticon-tau:before { content: "\f11d"; }
.flaticon-speaker:before { content: "\f11e"; }
    
    $font-Flaticon-mail: "\f100";
    $font-Flaticon-telephone-handle-silhouette: "\f101";
    $font-Flaticon-twitter: "\f102";
    $font-Flaticon-facebook: "\f103";
    $font-Flaticon-linkedin-logo: "\f104";
    $font-Flaticon-skype-logo: "\f105";
    $font-Flaticon-youtube: "\f106";
    $font-Flaticon-envelope: "\f107";
    $font-Flaticon-delete: "\f108";
    $font-Flaticon-window-of-four-rounded-squares: "\f109";
    $font-Flaticon-search: "\f10a";
    $font-Flaticon-black-check-box: "\f10b";
    $font-Flaticon-angle-arrow-down: "\f10c";
    $font-Flaticon-like: "\f10d";
    $font-Flaticon-export: "\f10e";
    $font-Flaticon-login: "\f10f";
    $font-Flaticon-logout: "\f110";
    $font-Flaticon-filter: "\f111";
    $font-Flaticon-switch: "\f112";
    $font-Flaticon-picture: "\f113";
    $font-Flaticon-smartphone: "\f114";
    $font-Flaticon-waiting: "\f115";
    $font-Flaticon-play-button: "\f116";
    $font-Flaticon-four-squares: "\f117";
    $font-Flaticon-page-design-template-with-three-areas: "\f118";
    $font-Flaticon-layout: "\f119";
    $font-Flaticon-web-design: "\f11a";
    $font-Flaticon-cropping-tool: "\f11b";
    $font-Flaticon-linked-website: "\f11c";
    $font-Flaticon-tau: "\f11d";
    $font-Flaticon-speaker: "\f11e";