<div class="compaign-left">
  <h4 class="camp-heading" *ngIf="isActiveCampign">{{campignName}}</h4>
  <ul class="nav nav-tabs stepper">
    <li class="nav-item">
      <a class="nav-link" (click)="checkIfCampignExists()" routerLinkActive="active"
      [routerLink]="['/dashboard/campaign-details']" ><aside>Campaign<span>Details</span></aside></a>
      <div class='step'>1</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="checkIfCampignExists()" routerLinkActive="active"
      [routerLink]="['/dashboard/change-platform']" ><aside>Platform <span>Details</span></aside></a>
      <div class='step'>2</div>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="checkIfCampignExists()" routerLinkActive="active"
       [routerLink]="['/dashboard/change-format']" ><aside>Asset<span>Details</span></aside></a>
      <div class='step'>3</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="checkIfCampignExists()" routerLinkActive="active"
      [routerLink]="['/dashboard/change-template']" ><aside>Change <span>Template</span></aside></a>
      <div class='step'>4</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="checkIfCampignExists()" routerLinkActive="active"
      [routerLink]="['/dashboard/edit-template']" ><aside>Edit <span>Template</span></aside></a>
      <div class='step'>5</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="checkIfCampignExists()" routerLinkActive="active"
       [routerLink]="['/dashboard/edit-music']" ><aside>Music <span>Details</span></aside></a>
      <div class='step'>6</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="checkIfCampignExists()" routerLinkActive="active"
       [routerLink]="['/dashboard/export']" ><aside>Export</aside></a>
      <div class='step'>&nbsp;</div>
    </li>
  </ul>
</div>

<app-loader *ngIf="isLoading"></app-loader>
