<!-- sixth compaign -->
<div id="campaign6" class="container tab-pane">
  <div class="row">
    <div class="col-lg-8">
      <div class="mr-auto template-story-wrapper card shadow pt-0">
        <app-platform></app-platform>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="device-preview">
        <app-preview-device [url]="'/dashboard/export'"></app-preview-device>
        </div>
      </div>
    </div>
    <div class="col-lg-4 comp2-tab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="javascript:;"><i class="flaticon-black-check-box"></i>
            Current</a>
        </li>
      </ul>
      <div class="temp-current-content2">
        <div class="music-wrapper" style="text-align: center">
         <app-platform-sidebar></app-platform-sidebar>
        </div>
        <div class="col-12 bg-white">
          <div class="music-content" >
            <div class="music-content-left">
              <p><span>1</span><i class="flaticon-speaker"></i> {{fileName}}</p>
            </div>
            <div class="music-content-right" [style.display]="fileState.original ? 'block' : 'none' " >
              <p class="orignal" >
                <a href="javascript:;" class="replace">Replace File</a>
                <input type="file"  class="file-audio"/>
              </p>
            </div>
          </div>
          <div class="music-content" *ngIf="fileState.uploaded">
            <div class="music-content-left">
              <p><span>2</span><i class="flaticon-speaker"></i> {{fileState.fileName}}</p>
            </div>
            <div class="music-content-right">
              <p class="orignal">
                <a href="javascript:;" (click)="deleteUploaded()" class="delete">Delete</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of sixth compaign -->
