<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" [routerLink]="['/']">VideoTool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto my-navigation">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Get Inspired</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Demo</a>
          </li>
        </ul>
        <ul class="navbar-nav login-ul dropdown-toggle" data-toggle="dropdown">
          <li class="nav-item">
            <h6>Hello !</h6>
            <p>{{userInfo.fname}} {{userInfo.lname}}</p>
          </li>
          <li class="nav-item" ngbDropdown id="settings">
            <a class="nav-link" href="javascript:;"><img src="../../../assets/images/login-img.jpg" class="img-fluid"></a>
          </li>
          <div class="login-logout"    aria-labelledby="settings">
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="javascript:;">Logout <i class="flaticon-logout"></i></a></li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</header>
