<app-header-component></app-header-component>
<section class="campaign-wrapper">
  <div class="container-fluid">
    <div class="row">
        <app-sidebar-component></app-sidebar-component>
        <div class="compaign-right">
            <router-outlet></router-outlet>
        </div>
     </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->
