<!-- seventh compaign -->
<div id="campaign7" class="container tab-pane">
  <div class="row">
    <div class="col-lg-8">
      <div class="mr-auto template-story-wrapper pt-0 card shadow">
        <app-platform></app-platform>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
          <div class="device-preview">
            <app-preview-device [url]="'/dashboard/export'"></app-preview-device>
          </div>
      </div>
    </div>
    <div class="col-lg-4 comp2-tab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#template-current"><i class="flaticon-black-check-box"></i>
            Export</a>
        </li>
      </ul>
      <div class="temp-current-content2 bg-white" *ngIf="!isDownloaded">
        <div class="export-content">
          <p>Please select a folder to export folder</p>
          <button class="btn bg-white" (click)="exportVideo()">Publish</button>
        </div>
      </div>
      <div class="temp-current-content2 bg-white" *ngIf="isDownloaded">
        <div class="export-content">
          <button class="btn bg-white" (click)="downloadFile();">Download</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="loader" *ngIf="isloading">
  <app-loader></app-loader>
</div>

<!-- end of seventh compaign -->
