 <div class="campaign2-mockup-fit text-center">
    <div class="img-mockup">
      <img src="../../../assets/images/mockup-image.png">
      <div class="mockup-main-div">
        <div class="mockup-content">
          <div>
            <h4>Preview</h4>
          </div>
        </div>
      </div>
      <img src="../../../assets/images/notches.png" class="img-fluid notches">
    </div>
    <button  class="btn btn-white" (click)="routeToNext()">Select</button>
  </div>

