<div class="row" *ngFor="let item of data">

  <div class="col-6">
    <a href="javascript:;" class="format-icon" (click)="setFormat(item.id)">
      <i class="flaticon-play-button"></i><br/>
      {{item.name}}
    </a>

  </div>
</div>
