<ul class="nav nav-tabs tab-platform">
  <li class="nav-item"  *ngFor="let i of data"><a class="nav-link"
    data-name={{i.name}} (click)="setPlatform($event, i.id)"
      href="javascript:;"><img src={{i.image_url}}> {{i.name}}</a></li>
</ul>
