<!-- third compaign -->
<div id="campaign3" class="container tab-pane">
  <div class="row">
    <div class="col-lg-8 bg-light device-mockup">
      <app-preview-device [url]="'/dashboard/change-template'"></app-preview-device>
    </div>
    <div class="col-lg-4 comp2-tab">
      <app-template-widget [activeTab]="'cformat'"></app-template-widget>
    </div>
  </div>
</div>
<!-- end of third compaign -->
