<ngb-tabset>
<ngb-tab>
  <ng-template ngbTabTitle><i class="flaticon-black-check-box"></i> Current</ng-template>
  <ng-template ngbTabContent>
    <div class="tab-pane active container" id="current">
      <div class="col-12 current-content">
        <div class="camp2-details">
          <div class="brand-product">
            <p>{{details.brand}}</p>
            <p>{{details.product}}</p>
          </div>
          <p>{{details.name}}</p>
          <p *ngIf="step.cplatform">PLATFORM</p>
          <div *ngIf="step.cformat">
            <p *ngIf="details.subformat_id == 1">Story</p>
            <p *ngIf="details.subformat_id == 2">Feed</p>
          </div>

          <img src={{details.platform_img}}>
            <div class="camp3-img-icon" *ngIf="step.cformat">
              <i class="flaticon-play-button"></i>
              <h6>Video</h6>
            </div>
        </div>

      </div>
      <div class="col-10 mx-auto" *ngIf="step.cplatform">
        <h5 class="py-3 text-center">Format</h5>
        <div class="comp-2-platform">
          <h6 *ngIf="details.subformat_id == 1">
            Story
          </h6>
          <h6 *ngIf="details.subformat_id == 2">
            Feed
          </h6>
          <div class="comp-2-story">
            <div class="row">
              <p class="story"><i class="flaticon-play-button"></i><br>Video</p>
              <p>
                <i class="flaticon-waiting"></i> <span class='static'>{{details.properties_duration}} Sec</span></p>
              <!-- <ng-template #staticPop>
                            <a href="javascript:;" (click)="setTimer('5 Sec', 'static')">5 Sec</a> <br/>
                            <a href="javascript:;"  (click)="setTimer('8 Sec', 'static')">8 Sec</a> <br />
                            <a href="javascript:;" (click)="setTimer('10 Sec', 'static')">10 Sec</a>
                          </ng-template> -->
            </div>
            <div class="row">
              <p class="story"><i class="flaticon-smartphone"></i><br>Vertical</p>
              <p><i class="flaticon-waiting"></i>
                <span class='vertical'>{{details.properties_aspect_ratio}}</span>
              </p>
              <!-- <ng-template #verticalPop>
                          <a href="javascript:;"  (click)="setAspectRatio('9:16', 'vertical')">9:16</a> <br />
                          <a href="javascript:;" (click)="setAspectRatio('16 : 9', 'vertical')">16 : 9</a>
                        </ng-template> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="step.cformat">
        <div class="row">
          <div class="col-6 story-edited-details1">
            <p>Resolution</p>
            <p>Aspect Ratio</p>
            <p>Orientation</p>
            <p>View time</p>
          </div>
          <div class="col-6 story-edited-details2">
            <p>{{details.properties_width}} X {{details.properties_height}} px</p>
            <p>{{details.properties_aspect_ratio}}</p>
            <p>Portrait</p>
            <p>{{details.properties_duration}} Sec</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle><i class="flaticon-switch"></i> Change To</ng-template>
  <ng-template ngbTabContent>
    <div class="tab-pane container">
      <div class="col-12 current-content">
        <div class="camp2-details">
          <div class="brand-product">
            <p>{{details.brand}}</p>
            <p>{{details.product}}</p>
          </div>
          <p>{{details.name}}</p>
          <!-- <ng-template #popContent>
                      <a href="javascript:;"  (click)="setPlatform('insta-story')">Insta Story</a> <br/>
                      <a href="javascript:;"  (click)="setPlatform('insta-feed')">Insta Feed</a>
                  </ng-template> -->

          <app-platform-sidebar (changeEvent)="receiveEvent($event)"></app-platform-sidebar>

          <div class="format" *ngIf="step.cformat">
            <div class="col-12 changeto-heading">
              <h5>CHOOSE A NEW FORMAT</h5>
            </div>
            <div class="col-8 mx-auto py-2">
              <app-format></app-format>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ng-template>
</ngb-tab>
</ngb-tabset>
