<!-- fifth compaign -->
<div id="campaign5" class="tab-pane etemplate" *ngIf="isloaded">
  <div class="row">
    <div class="col-lg-8">
      <div class="mr-auto template-story-wrapper  pt-0 card shadow">
       <app-platform></app-platform>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="camp5-tab-content1" class="container tab-pane active"><br>
          <div class="campaign2-mockup-fit mx-auto mt-4 text-center">
            <div class="img-mockup">
              <img src="../../../assets/images/mockup-image.png">
              <div class="mockup-main-div">
                <div class="mockup-content">
                   <div class="deviceHtml" #deviceHtml   [ngStyle]="{'background-image': 'url('+ initDevice.backgroundImage +')'}">

                  </div>
                </div>
              </div>
              <img src="../../../assets/images/notches.png" class="img-fluid notches">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 comp2-tab pl-10 pr-10">
        <ngb-tabset #ctdTabset="ngbTabset">
          <ngb-tab id="image_tab">
            <ng-template ngbTabTitle><i class="flaticon-picture"></i> Image</ng-template>
            <ng-template ngbTabContent>
                <div class="tab-pane active container" id="edit-image">
                  <div class="edit-bkg-image">
                    <a href="javascript:;" class="btnupload" (click)="isImageExist()"><i class="flaticon-switch"></i> Edit <span>Background</span> Image</a>
                    <!-- <div class="col-12 img-edit-wrapper">
                      <ul class="img-edit-tool">
                        <li>
                          <a href="javascript:;" >
                            <i class="flaticon-cropping-tool"></i>
                            <p>Crop</p>
                          </a>
                        </li>
                        <li><a href="javascript:;">

                          </a></li>
                        <li>
                          <a href="javascript:;" class="dropdown-toggle edit-sec-dropdown" data-toggle="dropdown">
                            <i class="flaticon-waiting"></i>
                            <p>5 Sec</p>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item"><a href="javascript:;" >10 Sec</a></li>
                              <li class="dropdown-item"><a href="javascript:;" >15 Sec</a></li>
                            </ul>
                          </a>
                        </li>
                      </ul>
                      <a href="javascript:;" class="img-call-action" data-toggle="modal" data-target="#myModal-action"><i
                          class="flaticon-linked-website"></i> Add Call-to-action</a>
                    </div> -->
                  </div>
                  <!-- <div class="edit-bkg-image">
                    <h4><i class="flaticon-switch"></i> Edit <span>Logo</span></h4>
                    <div class="col-12 img-edit-wrapper">
                      <ul class="img-edit-tool">
                        <li>
                          <a href="javascript:;" >
                            <i class="flaticon-cropping-tool"></i>
                            <p>Crop</p>
                          </a>
                        </li>
                        <li><a href="javascript:;">
                          <input [(colorPicker)]="logoColor" class="color-picker" [cpPosition]="'bottom'"   [style.background]="logoColor" />
                        </a></li>
                        <li>
                          <a href="javascript:;" class="dropdown-toggle edit-sec-dropdown" data-toggle="dropdown">
                            <i class="flaticon-waiting"></i>
                            <p>5 Sec</p>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item"><a href="javascript:;" >10 Sec</a></li>
                              <li class="dropdown-item"><a href="javascript:;" >15 Sec</a></li>
                            </ul>
                          </a>
                        </li>
                      </ul>
                      <a href="javascript:;" class="img-call-action" data-toggle="modal" data-target="#myModal-action"><i
                          class="flaticon-linked-website"></i> Add Call-to-action</a>
                    </div>
                  </div> -->
                </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab  id="video_tab">
            <ng-template ngbTabTitle><i class="flaticon-switch"></i> Video</ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="javascript:;"  class="btnupload"  (click)="isVideoExist()"><i class="flaticon-play-button"></i> Upload <span>Video</span></a>
                    </div>
                </div>
                </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab  id="text_tab">
            <ng-template ngbTabTitle><i class="flaticon-tau"></i> Text</ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane container">
                  <div class="row">
                    <div class="col-md-12">
                          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                            <button class="btn btn-outline-primary mr-2 ed-tem-drop" id="dropdownFontStyle" ngbDropdownAnchor
                              (focus)="myDrop.open()">Font Style</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownFontStyle">
                              <button ngbDropdownItem>Regular</button>
                              <button ngbDropdownItem>Bold</button>
                              <button ngbDropdownItem>Italic</button>
                              <button ngbDropdownItem>Underline</button>
                            </div>
                          </div>
                      <!--  -->
                    </div>
                  </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
  <div class="row fixed-silder">
    <div class="col-md-12 mt-4">
    <div class="card shadow">
      <div class="card-body pl-0 border-btm">
        <div class="row abs-range">
            <div class="col-md-6 pl-0 pr-0">
                <div class="custom-slider">
                  <ng5-slider [(value)]="value" (userChangeEnd)="onUserChangeEnd($event)" [options]="options"></ng5-slider>
                </div>
            </div>
            <div class="empty-bar col-md-6">
              <span></span>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 pl-0 pr-0">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let slide of slideList; index as i"
              class="slide" (click)="selectSlide(i, slide.id, slide.blank_filename_image_url)">
                <a href="javascript:;" class="slideList">
                    <img src="{{ slide.filename_image_url }}" alt="" width="100%">
                </a>
              </div>
            </ngx-slick-carousel>
          </div>
          <div class="col-md-6">
            <a href="javascript:;" class="btnupload save shadow" (click)="saveSync();">Save Changes</a>
          </div>

        </div>
        </div>
    </div>
    </div>
  </div>
</div>
<!---Popup-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crop Image</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
  </ng-template>

  <div class="showLoader" *ngIf="showloader">
  <app-loader></app-loader>
  </div>

<!-- end of fifth compaign -->
