input.color-picker {
    position: relative;
    width: 50px;
    display: block;
    border: 1px solid #444;
    box-shadow: 0 0 0 3px #444;
    cursor: pointer;
    outline: none;
    z-index: 9;
}

