.dropdown-template .nav-link {
    padding: 0;
}

.dropdown-template .nav-link:hover {
    border: 1px solid transparent;
}
.dropdown-template {
    pointer-events: all;
    position: relative;
}
.dropdown-template:hover .nav-link + .dropdown-menu{
  display: block
}

.select-template-wrapper {
    display: table-cell;
    vertical-align: top;
    padding: 2%;
}
.template-story-wrapper ul li a img {
    margin-right: 11px;
}
.select-template-content {
   display: inline-block;
    flex: 1;
    margin: 9px;
    max-width: 224px;
    min-height: 136px;
    padding: 0;
    overflow: hidden;
    background: no-repeat;
    vertical-align: top;
    text-align: center;
}
.template-story-wrapper {
    width: 66.5%;
    margin-bottom: 1%;
}
.select-template-content img {
       width: 89%;
    height: 141px;
}
.img-mockup + .btn {
    display: none;
}
a.btnupload.save {
    width: 200px;
    margin: 8% auto 0;
    background: #3a9cb8;
    color: #fff !important;
}

