<!-- fourth compaign -->
<div id="campaign4" class="container tab-pane">
  <div class="row">
    <div class="mr-auto template-story-wrapper card shadow pt-0 mr-0">
      <app-platform></app-platform>
    </div>
    <div class="col-4 template-tab">

    </div>
  </div>
  <div class="row">
    <div class="col-8 ch-template-left card shadow">
      <div class="tab-content">
        <ngb-tabset  [activeId]="activeTab">
          <ngb-tab [disabled]="true">
              <ng-template ngbTabTitle><i class="flaticon-four-squares"></i></ng-template>
          </ngb-tab>
          <ngb-tab [disabled]="true">
              <ng-template ngbTabTitle>
                <div class="dropdown-template">
                <a class="nav-link" href="javascript:;">{{selectedCategory}} <i class="flaticon-angle-arrow-down"></i></a>
                <ul class="dropdown-menu" >
                    <li class="dropdown-item"><a href="javascript:;" (click)="showAll('All')">All</a></li>
                    <li class="dropdown-item" *ngFor="let item of category"><a href="javascript:;" (click)="filterById(item.id, item.name) ">{{item.name}}</a></li>
                </ul>
                </div>
              </ng-template>
          </ngb-tab>
          <ngb-tab id="template">
              <ng-template ngbTabTitle> <i class="flaticon-web-design"></i> Templates</ng-template>
              <ng-template ngbTabContent>
                  <div class="select-template-wrapper row">
                    <div class="select-template-content card shadow col-md-4"  *ngFor="let i of filterData">
                      <div class="card-body  pb-2 pr-2 pl-2">
                      <img width="100%" src={{i.image_url}} />
                      <div class="stc-fav-button"><i class="flaticon-like"></i></div>
                      <button class="btn btn-info stc-button">Selected</button>
                      <div class="select-temp-hover">
                        <div class="row">
                          <div class="col-12 text-center">
                            <button class="btn btn-green" (click)="fetchTemplateById(i.id)">Select</button>
                          </div>
                        </div>
                      </div>
                      <h6>{{i.name}}</h6>
                    </div>
                    </div>
                  </div>
              </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
    <div class="col-4">
      <app-template-widget></app-template-widget>
      <div class="preview">
        <app-preview-device></app-preview-device>
      </div>
    </div>
  </div>
</div>
<!-- end of fourth compaign -->
