<div class="container">
  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>


</div>
