<!-- second compaign -->
<div id="campaign2" class="container tab-pane">
  <div class="row">
    <div class="col-lg-8 bg-light device-mockup">
      <app-preview-device [url]="'/dashboard/change-format'"></app-preview-device>
    </div>
    <div class="col-lg-4 comp2-tab">
      <app-template-widget [activeTab]="'cplatform'"></app-template-widget>
    </div>
  </div>
</div>
<!-- end of second compaign -->
